* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: 600;
}

th, td {
    padding: 0.25em 0.25em;
    text-transform: capitalize;
}

th:not(.text-cell), td:not(.text-cell) {
    text-align: end;
}

table {
    border-spacing: 0.5em 0.25em;
}

th {
    text-align: start;
    border-bottom: 1px solid #CCC;
}

td[contenteditable="true"] {
    border: 1px solid #AAA;
    border-radius: 0.25em;
    text-transform: initial;
}

td.nopad {
    padding: 0;
}

td > select {
    padding: 0.33em;
    border: 1px solid #AAA;
    background-color: #FFF;
    border-radius: 0.25em;
}

td > button {
    padding: 0.25em;
}